@import url("https://fonts.googleapis.com/css?family=Paprika");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

body {
  color: #686868;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.80857;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: 120% !important;
  color: #1f1f1f;
  font-family: "Lobster Two", cursive;
  font-weight: 100;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  opacity: 0.8;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  color: #1f1f1f;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

html,
body {
  height: 100%;
}

/*------------------------------------------------------------------
   	Preloader
-------------------------------------------------------------------*/

#mhead {
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-family: georgia;
  position: fixed;
  top: 0px;
  width: 100%;
  margin-bottom: 50px;
  margin-left: -10px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 9999;
  height: 100%;
  display: block;
  transition: 1s;
}

.fade {
  display: none;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loader-animation.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/*------------------------------------------------------------------
   	Scrollup
-------------------------------------------------------------------*/
.scrollup {
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  opacity: 0.3;
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: none;
  background: url(../images/icon_top.png) no-repeat;
}

.scrollup:hover {
  opacity: 0.8;
}

/*------------------------------------------------------------------
    HEADER AREA
-------------------------------------------------------------------*/

.logo {
  float: left;
}
.header-block-top {
  position: absolute;
  z-index: 11;
  width: 100%;
  top: 0;
  left: 0;
}

.header-block-top .navbar-brand {
  margin: 0 !important;
  padding: 15px 0 15px;
  display: inline-block;
  line-height: normal;
  font-size: 100%;
  height: 100%;
}
.main-menu .navbar-default {
  background-color: transparent;
}
.main-menu .navbar {
  min-height: inherit;
  border-radius: 0px;
  border: none;
  margin: 0px;
}
.main-menu nav .navbar-header .navbar-brand {
  height: inherit;
}
.main-menu .navbar-default .navbar-nav li a {
  color: #fff;
}
.main-menu nav li a {
  padding: 43px 0px 15px;
  margin: 0 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  position: relative;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  font-weight: 500;
  font-size: 14px;
}

.main-menu nav li a::after,
.main-menu nav li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.main-menu nav li a::before {
  background: #b5b5b5;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.main-menu nav li.active a::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.main-menu nav li.active a::after,
.main-menu nav li.active a::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.main-menu nav li a:hover::before,
.main-menu nav li a:focus::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.main-menu .navbar-default .navbar-nav .active a {
  background-color: transparent;
}

.fixed-menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #202020;
  transition: 0.5s;
  padding: 10px 0 0 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.fixed-menu .navbar-brand {
  padding: 10px 0 10px;
}

.fixed-menu .navbar-brand > img {
  max-width: 150px;
}

.fixed-menu .main-menu nav li a {
  padding: 32px 0px 10px 0;
}

/*------------------------------------------------------------------
    BANNER AREA
-------------------------------------------------------------------*/

.banner {
  margin-bottom: 11rem;
}

.banner::before {
  content: "";
  position: absolute;
  background: url(../images/background/banner.jpg) no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(2px);
  width: 100%;
  z-index: -1;
  height: 100vh;
}

.banner .container,
.banner .banner-static,
.banner .col-lg-12 {
  height: 100%;
}
.banner-text {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 15rem;
  text-align: center;
}

@media only screen and (max-width: 840px) {
  .banner-text {
    margin-top: 5rem;
  }

  .banner {
    margin-bottom: 0rem;
  }
}

@media only screen and (max-width: 470px) {
  .banner-text {
    margin-top: 0rem;
  }
}
.banner-cell {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}

@media (max-width: 425px) {
  .banner-cell {
    vertical-align: top;
    padding-top: 6rem;
  }
}
.banner-text h1 {
  font-family: "Lobster Two", cursive;
  letter-spacing: 2.7px;
  position: relative;
  display: inline-block;
  font-size: 68px;
  line-height: 100px;
  color: #fff;
  padding-bottom: 0px;
  padding-top: 100px;
}

.banner-text h2 {
  letter-spacing: 2.7px;
  position: relative;
  font-size: 37px;
  line-height: 100px;
  padding-bottom: 25px;
}
.banner-text p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ccc;
  padding-bottom: 35px;
  margin: 0px;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: red;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.banner-cell .mouse {
  position: relative;
  width: calc(16px * 2);
  height: calc(31px * 2);
  margin: 60px auto 20px;
  background: none;
  border: 2px solid white;
  border-radius: calc(16px * 2);
  z-index: 1;
}
.banner-cell .mouse:after {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: calc(4px * 2);
  height: calc(4px * 2);
  background: none;
  border: 2px solid white;
  border-radius: 100%;
  -webkit-animation-name: scrollWheel;
  animation-name: scrollWheel;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  will-change: transform;
}

@-webkit-keyframes scrollWheel {
  from {
    -webkit-transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 20px);
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate(-50%, 20px);
    transform: translate3d(-50%, 20px, 0);
    opacity: 0;
  }
}
@media (min-width: 768px) {
  from {
    -webkit-transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 40px);
    -webkit-transform: translate3d(-50%, 40px, 0);
    transform: translate(-50%, 40px);
    transform: translate3d(-50%, 40px, 0);
    opacity: 0;
  }
}

@keyframes scrollWheel {
  from {
    -webkit-transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 20px);
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate(-50%, 20px);
    transform: translate3d(-50%, 20px, 0);
    opacity: 0;
  }
}
@media (min-width: 768px) {
  from {
    -webkit-transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 40px);
    -webkit-transform: translate3d(-50%, 40px, 0);
    transform: translate(-50%, 40px);
    transform: translate3d(-50%, 40px, 0);
    opacity: 0;
  }
}

/*------------------------------------------------------------------
    ABOUT AREA
-------------------------------------------------------------------*/

.about-main {
  background: #e6e6e6;
}
.pad-top-100 {
  padding-top: 90px;
}
.pad-bottom-100 {
  padding-bottom: 90px;
}

.pad-top-70 {
  padding-top: 70px;
}
.pad-bottom-70 {
  padding-bottom: 70px;
}

.block-title {
  font-size: 52px;
  font-family: "Lobster Two", cursive;

  font-weight: bold;
}

.about-images {
  text-align: center;
  position: relative;
}

.about-main h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.left-btn {
  padding-top: 10px;
}

.about-images img {
  border: 10px solid #f1f1f1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.about-images img {
  border: 10px solid #f1f1f1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  max-width: 100%;
}

.about-inset {
  position: absolute;
  top: 0;
  right: 0;
  height: 240px;
  width: 240px;
}

@media only screen and (max-width: 470px) {
  .about-inset {
    height: 180px;
    width: 180px;
  }
}

@media only screen and (max-width: 350px) {
  .about-inset {
    height: 140px;
    width: 140px;
  }
}

/*------------------------------------------------------------------
    SPECIAL-MENU AREA
-------------------------------------------------------------------*/
.special-menu {
  background: url(../images/background/background-2.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.special-menu:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  position: absolute;
  top: 0;
  left: 0;
}

.title-caption {
  letter-spacing: 0.16px;
  padding: 20px 120px;
  color: #fff;
  font-size: 18px;
}
.color-white {
  color: #fff;
}

#owl-demo .item {
  margin: 15px;
  position: relative;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
.special-box .owl-theme .owl-controls {
  margin: 0px;
}

.item-type-zoom {
  border: 4px solid #fff;
}
.item-type-zoom .item-hover {
  z-index: 5;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
}

.item-type-zoom .item-info {
  z-index: 10;
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  z-index: 5;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  bottom: 0px;
}

.item-type-zoom .item-info .headline {
  font-size: 18px;
  width: 75%;
  margin: 0 auto;
  border: 4px solid #ffffff;
  padding: 10px;
}

.item-type-zoom .item-info .line {
  height: 1px;
  width: 60%;
  margin: 15px auto 10px auto;
  background-color: #ffffff;
}

.item-type-zoom .item-info .dit-line {
  font-size: 14px;
  font-style: italic;
}

.item-hover,
.item-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.item-type-zoom .item-hover:hover {
  opacity: 1;
}

.item-type-zoom .item-hover:hover:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(231, 91, 30, 0.5);
  top: 0px;
  left: 0px;
}

.item-type-zoom .item-hover:hover .item-info {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.special-box {
  padding-bottom: 40px;
}

.special-box .owl-theme .owl-controls .owl-page.active span {
  /*background:#f5672a;*/
  height: 16px;
  width: 16px;
}
.special-box .owl-theme .owl-controls .owl-page span {
  border: 2px solid #fff;
  opacity: 1;
  background: #202020;
  height: 16px;
  width: 16px;
}

/*------------------------------------------------------------------
    MENU AREA
-------------------------------------------------------------------*/

.menu-main .title-caption {
  color: #666;
}
.tab-title-menu {
  text-align: center;
}

.tab-title-menu h2 {
  border-bottom: 1px solid #666;
  display: inline-block;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.tab-title-menu p {
  font-size: 35px;
  padding-top: 0px;
}
.tab-title-menu p {
  color: #000;
}

.tab-menu {
  background: #f5f5f5;
  padding: 2px 0px;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.05);
}

.offer-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.offer-item img {
  width: 20%;
  float: left;
  padding: 10px;
  background: #fff;
  border-radius: 50%;
}

.offer-item div {
  width: 60%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.offer-item .offer-price {
  position: relative;
  top: 5rem;
  background-color: tomato;
  padding: 0.2rem 0.5rem;
  display: grid;
  align-items: center;
  justify-items: center;
  line-height: 28px;
  -moz-border-radius: 85px;
  -webkit-border-radius: 85px;
  border-radius: 10px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: white;
  font-size: 18px;
  font-family: "Lobster Two", cursive;
  text-align: center;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 768px) {
  .offer-item .offer-price {
    position: relative;
    top: 1rem;
    margin-top: 3rem;
    padding: 0rem;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 470px) {
  .offer-item .offer-price {
    position: relative;
    top: 1rem;
    margin-top: 3rem;
    padding: 0rem;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 340px) {
  .offer-item .offer-price {
    top: 0rem;
    margin-top: 4rem;
    padding: 0rem;
    border-radius: 10px;
  }
}

.offer-item div h3 {
  font-size: 20px;
  margin: 9px 0 0px;
  font-family: "Lobster Two", cursive;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.offer-item div p {
  color: #6b6b6b;
}

.tab-menu .slick-prev.slick-arrow {
  display: none;
}
.tab-menu .slider.slider-single {
  border-top: 1px solid #ccc;
  padding-top: 40px;
}

.tab-menu .slick-initialized .slick-slide {
  outline: none;
}

.tab-menu .is-active h3 {
  color: #fff;
  border-bottom: 1px solid #fff;
  font-family: "Montserrat", sans-serif;
}
.tab-menu .is-active p {
  color: #fff;
}

.tab-menu .is-active object {
  filter: invert();
}

.cat-icon {
  height: 4rem;
  margin: auto;
  margin-bottom: 1rem;
}

/*------------------------------------------------------------------
    TEAM AREA
-------------------------------------------------------------------*/

.team-main {
  background: url(../images/background/background-3.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  position: relative;
}

.team-main:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.team-main .block-title {
  color: #fff;
}

.sf-team {
  float: left;
  width: 100%;
}
.sf-team .thumb {
  float: left;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.sf-team .text-col {
  float: left;
  width: 100%;
  padding: 25px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  background: #fff;
}

.sf-team .thumb a img {
  width: 100%;
}

.sf-team:hover .text-col {
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.sf-team:hover .thumb img {
  opacity: 0.6;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.text-col h3 {
  font-family: "Lobster Two", cursive;
  font-size: 28px;
}

.sf-team:hover .team-social {
  border-color: #fff;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.team-social {
  display: block;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
  list-style: none;
  border-top: 1px solid;
}

.team-social li {
  display: inline-block;
  padding: 0 4px;
}

.sf-team:hover .team-social li a {
  border: 1px solid rgba(0, 0, 0, 0);
  background: #fff;
  color: #222;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.team-social li a {
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 32px;
  border: 1px solid #ccc;
  border-radius: 100%;
  color: #222;
  font-size: 16px;
  display: block;
}

.sf-team:hover .text-col h3,
.sf-team:hover .text-col p {
  color: #fff;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.chef {
  filter: invert(0) !important;
  margin: 0 !important;
}

/*------------------------------------------------------------------
    GALLERY AREA
-------------------------------------------------------------------*/

.gallery-main .title-caption {
  color: #666;
}

/* new gallery */

.gal-container {
  padding: 12px;
}
.gal-item {
  overflow: hidden;
  padding: 3px;
}
.gal-item .box {
  height: 350px;
  overflow: hidden;
}
.box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.gal-item a:focus {
  outline: none;
}
.gal-item a:after {
  content: "\e003";
  opacity: 0;
  background-color: rgba(231, 91, 30, 0.75);
  position: absolute;
  right: 3px;
  left: 3px;
  top: 3px;
  bottom: 3px;
  text-align: center;
  line-height: 350px;
  font-size: 30px;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after {
  opacity: 1;
}
.modal-open .gal-container .modal {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-open .gal-item .modal-body {
  padding: 0px;
}
.modal-open .gal-item button.close {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #000;
  opacity: 1;
  color: #fff;
  z-index: 999;
  right: -12px;
  top: -12px;
  border-radius: 50%;
  font-size: 15px;
  border: 2px solid #fff;
  line-height: 25px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
}
.modal-open .gal-item button.close:focus {
  outline: none;
}
.modal-open .gal-item button.close span {
  position: relative;
  top: -3px;
  font-weight: lighter;
  text-shadow: none;
}
.gal-container .modal-dialogue {
  width: 80%;
}
.gal-container .description {
  position: relative;
  height: 40px;
  top: -40px;
  padding: 10px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
}
.gal-container .description h4 {
  margin: 0px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
}
.gal-container .modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 100px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  opacity: 1;
}

/*------------------------------------------------------------------
    FOOTER AREA
-------------------------------------------------------------------*/

.footer-news {
  background: url(../images/background/background-4.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  position: relative;
}

.footer-news::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.ft-title.color-white {
  color: #fff;
}
.ft-title {
  letter-spacing: 0.96px;
  margin-bottom: 22px;
  font-family: "Lobster Two", cursive;
  font-size: 52px;
}

.footer-news p {
  margin-bottom: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
}

.footer-news form {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: relative;
}

.footer-news form input {
  width: 100%;
  border: 2px dotted #ccc;
  background: #f5f5f5;
  color: #202020;
  padding: 12px;
  text-transform: capitalize;
  border-radius: 4px;
  opacity: 1;
  min-height: 53px;
}
.footer-news form a {
  border: 2px dotted #ccc;
  padding: 0px 19px;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  min-width: inherit;
  height: 53px;
  line-height: 51px;
  color: #ffffff;
}

.footer-news form a:hover {
  background: #f5f5f5;
  color: #202020;
}

.footer-box {
  background: #202020;
}

/*.footer-in-main{
	max-width:960px;
	margin:0 auto;
	width:100%;
}*/

.footer-logo {
  padding-bottom: 40px;
}

.footer-socials {
  margin: 10px 0;
  line-height: 30px;
  padding: 4px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.socials-box {
  display: table-cell;
  vertical-align: middle;
  margin: 1px 0px;
  padding: 4px;
}
.footer-box {
  background-image: -moz-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.57) 0%,
      rgba(0, 0, 0, 0.87) 100%
    ),
    url(../images/background/footer-background.jpg);
  background-image: -webkit-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.57) 0%,
      rgba(0, 0, 0, 0.87) 100%
    ),
    url(../images/background/footer-background.jpg);
  background-image: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.57) 0%,
      rgba(0, 0, 0, 0.87) 100%
    ),
    url(../images/background/footer-background.jpg);
  background-color: #111;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.socials-box li {
  display: inline-block;
  opacity: 1;
  margin-right: 7px;
}
.footer-box .social-circle-border {
  background-color: transparent;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social-circle-border {
  font-size: 20px;
  line-height: 23px;
  margin-right: 2px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: transparent;
  color: #6f6f6f;
  text-align: center;
}

.footer-box-a h3 {
  font-size: 24px;
  font-family: "Lobster Two", cursive;
}
.footer-box-a p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  line-height: 25px;
}

.footer-box-b h3 {
  font-size: 24px;
  font-family: "Lobster Two", cursive;
}
.footer-box-b p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.footer-box-b ul li {
  line-height: 30px;
}
.footer-box-b ul li a {
  color: #ffffff;
}

.footer-box-b ul li a:hover {
  padding-left: 5px;
}

.footer-box-c h3 {
  font-size: 24px;
  font-family: "Lobster Two", cursive;
}
.footer-box-c p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.footer-box-c p i {
  font-size: 20px;
  position: relative;
  top: 4px;
  float: left;
  min-width: 20px;
  text-align: center;
}

.footer-box-c p span {
  display: table;
  padding-left: 12px;
  padding-top: 1px;
}

.footer-box-c p a {
  color: #ffffff;
}

.footer-box-d h3 {
  font-size: 24px;
  font-family: "Lobster Two", cursive;
}
.footer-box-d p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.footer-box-d ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.footer-box-d ul li {
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.footer-box-d ul li p {
  padding: 0px;
  margin: 0px;
}
.footer-box-d ul li span {
  color: #666;
}

.main-contact {
  pointer-events: none;
}

.social-icons {
  height: 2rem;
  filter: invert();
  margin: 0.5rem;
  position: relative;
  top: 1rem;
}

/*------------------------------------------------------------------
    COPYRIGHT AREA
-------------------------------------------------------------------*/

.copyright-main {
  border-top: 2px dotted #fff;
  text-align: center;
  padding-top: 25px;
  margin-top: 70px;
  padding-bottom: 25px;
}

.copyright-main .copy-title {
  letter-spacing: 1px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-bottom: 0px;
}

.tab-title-menu > p > img {
  height: 4.5rem;
  margin: auto;
  margin-top: 1rem;
}

#punch-line {
  font-size: 2.3rem;
}

.wp-link {
  color: white;
  font-size: 3rem;
  background-color: #f5672a;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: "Lobster Two", cursive;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 470px) {
  #punch-line {
    font-size: 2rem;
  }

  .wp-link {
    font-size: 2rem;
  }

  .order-now {
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }
}

#logo-a {
  padding: 0.2rem 0rem;
  display: inline-flex;
}

#main-logo {
  height: 9rem;
  transform: scale(1.5);
}

#header-tag {
  font-family: "Lobster Two", cursive;
  font-weight: lighter;
  align-self: center;
  padding: 0%;
  margin-left: 1rem;
  margin-top: 1rem !important;
  position: relative;
  color: white;
  top: 0.25rem;
}

.footer-box {
  padding-top: 0;
  border-top: 4rem solid rgba(0, 0, 0, 0.98);
}

.footer-img {
  display: grid;
  height: 18rem;
  overflow: hidden;
}

.main-logo-footer {
  height: 22rem;
  align-self: center;
  justify-self: center;
}

.nav-button {
  margin-top: 1rem !important;
}

#header {
  padding-top: 0;
}

#changing-text,
.accidental {
  color: #f5672a;
  margin-top: 2rem;
  font-size: 5rem;
  font-family: "Lobster Two", cursive;
}

.accidental {
  color: white;
}

@media only screen and (max-width: 768px) {
  .banner-cell {
    display: block;
    position: relative;
    top: 15rem;
    color: #fff;
  }
  #changing-text {
    margin-top: 0rem;
    font-size: 5rem;
    padding-top: 0;
    vertical-align: top;
  }
  .side-nav {
    display: none;
    margin-top: 10rem;
  }

  .display {
    display: block;
  }
}

@media only screen and (max-width: 470px) {
  .banner-cell {
    display: table-cell;
    position: relative;
    vertical-align: baseline;
    top: 0;
    color: #fff;
  }
  #main-logo {
    height: 5rem;
  }

  #header-tag {
    color: white;
    font-size: 2.5rem;
  }

  .logo {
    margin-top: 1rem;
  }

  #changing-text,
  .accidental {
    margin-top: 12.5rem;
    font-size: 3.5rem;
  }

  .accidental {
    margin-top: 2rem;
  }
}

.footer-cards {
  padding-bottom: 3rem;
}

.menu-item-name {
  font-size: 1.9rem;
  margin-top: 1rem;
  color: #f5672a;
  font-family: "Lobster Two", cursive;
}

.chef-container {
  display: grid;
  justify-items: center;
}

.thumb > img {
  width: 100%;
}

.menu-cuisine {
  font-family: "Roboto", sans-serif;

  padding: 0rem 1rem;
}

.menu-cuisine > h4 {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
}

@charset "UTF-8"; /*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/******************************************
    File Name: responsive.css
    Template Name: Landigoo
    Created By: MelodyThemes
    Envato Profile: http://themeforest.net/user/melodythemes
    Website: https://melodythemes.com
    Version: 1.0
/****************************************** */

@media (max-width: 1310px) {
}
@media (max-width: 1200px) {
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #f5672a;
    width: 35px;
  }
  .main-menu .navbar-toggle .icon-bar {
    position: relative;
    transition: all 250ms ease-in-out;
  }
  .main-menu .navbar-toggle .icon-bar {
    position: relative;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
  }
  .main-menu .navbar-toggle .icon-bar:nth-of-type(3) {
    top: 1px;
  }
  .main-menu .navbar-toggle .icon-bar:nth-of-type(4) {
    top: 2px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 7px;
  }
  .main-menu .navbar-toggle.active .icon-bar:nth-of-type(2) {
    top: 7.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
  .main-menu .navbar-toggle.active .icon-bar:nth-of-type(3) {
    background-color: transparent;
  }
  .main-menu .navbar-toggle.active .icon-bar:nth-of-type(4) {
    top: -10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }
}
@media (max-width: 1240px) {
  .main-menu nav li a {
    margin: 0 7px;
  }
}
@media (max-width: 1158px) {
  .main-menu nav li a {
    margin: 0 7px;
  }
}
@media (max-width: 1120px) {
  .main-menu nav li a {
    margin: 0px 10px;
    font-size: 12px;
  }
  .offer-item div h3 {
    font-size: 16px;
  }

  .banner-cell .mouse {
    display: none;
  }
}
@media (max-width: 992px) {
  .banner-text h1 {
    font-size: 50px;
  }
  .banner-cell .mouse {
    display: none;
  }
  .footer-box-a,
  .footer-box-b,
  .footer-box-c,
  .footer-box-d {
    margin-bottom: 20px;
  }
  .main-menu .navbar-header {
    float: right;
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
  .navbar-toggle {
    margin: 0;
    border: 0;
    padding: 0;
    top: 20px;
    right: 0;
    display: block !important;
    z-index: 11;
    cursor: pointer;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-collapse.collapse.in {
    /* NEW */
    display: block !important;
    background: #202020;
  }
  .main-menu nav li a {
    padding: 15px 0px;
  }
  .panel-body p strong {
    font-size: 28px;
  }
}
@media (max-width: 1000px) {
}

@media (min-width: 768px) {
  .gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
  }
  .banner-cell .mouse:after {
    position: absolute;
    top: 25px;
    left: 50%;
    width: calc(4px * 4);
    height: calc(4px * 4);
  }
  .banner-cell .mouse {
    width: calc(16px * 4);
    height: calc(31px * 4);
    margin: 70px auto 0px;
    background: none;
    border: 2px solid white;
    border-radius: calc(16px * 4);
  }
}
@media (max-width: 768px) {
  .gal-container .modal-content {
    height: 250px;
  }
}
@media (max-width: 768px) {
  .main-menu nav li a {
    padding: 15px 0px;
  }
  .navbar-toggle {
    margin-top: 2rem !important;
  }
  .navbar-nav {
    background: #202020;
    margin: 0px 0px;
  }
  .banner {
    min-height: 100vh !important;
    background-size: inherit;
  }
  .team-main {
    background-size: inherit;
  }
  .special-menu {
    background-size: inherit;
  }
  .banner-text h1 {
    font-size: 50px;
    line-height: 62px;
  }
  .banner-text h2 {
    font-size: 24px;
  }
  .block-title {
    font-size: 34px;
  }
  .title-caption {
    padding: 20px 10px;
    line-height: 28px !important;
  }
  .offer-item img {
    width: 15%;
    margin: 0 auto;
    float: none;
  }
  .offer-item .offer-price {
    font-size: 18px;
  }
  .offer-item div {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin: 0 auto;
    float: none;
  }
  .offer-item div h3 {
    font-size: 16px;
  }
  .fixed-menu .navbar-toggle {
    top: 18px;
  }
  .navbar-brand > img {
    max-width: 180px;
  }
  .tab-title-menu h2 {
    font-size: 14px;
  }

  .tab-menu .slick-arrow.slick-prev {
    position: absolute;
    top: 21px;
    left: -17px;
    z-index: 99;
    transform: scale(0.9);
    background: url(../images/back.png) no-repeat center;
    text-indent: -99999px;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-position: 2px 4px;
  }
  .tab-menu .slick-arrow.slick-prev:hover {
    background: url(../images/back_hover.png) no-repeat center;
    background-position: 2px 4px;
  }
  .tab-menu .slick-arrow.slick-next {
    position: absolute;
    top: 20px;
    left: 27.5rem;
    z-index: 99;
    transform: scale(0.9);
    background: url(../images/next.png) no-repeat center;
    text-indent: -99999px;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-position: 7px 4px;
  }
  .tab-menu .slick-arrow.slick-next:hover {
    background: url(../images/next_hover.png) no-repeat center;
    background-position: 7px 4px;
  }
  .sf-team {
    margin-bottom: 20px;
  }
  .pricing-main p {
    padding: 0px 15px;
    margin-bottom: 15px;
  }

  .form-reservations-box {
    width: 100%;
  }

  .footer-box-a,
  .footer-box-b,
  .footer-box-c,
  .footer-box-d {
    margin-bottom: 20px;
  }
  .fixed-menu .main-menu nav li a {
    padding: 10px 0px;
  }
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
  h3 {
    font-size: 1.4rem;
  }
  .offer-item img {
    width: 50%;
  }
  .offer-item .offer-price {
    font-size: 18px;
  }
  .offer-item div {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .offer-item div h3 {
    font-size: 16px;
  }
  .navbar-toggle {
    align-self: center;
    justify-self: right;
    margin-top: 1rem !important;
  }

  .tab-title-menu > h3 {
    font-size: 1.3rem;
  }
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.23
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */

/* CSS3 Transitions */

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut 0.7s both ease;
  -moz-animation: fadeOut 0.7s both ease;
  animation: fadeOut 0.7s both ease;
}
.owl-fade-in {
  -webkit-animation: empty 1ms both ease;
  -moz-animation: empty 1ms both ease;
  animation: empty 1ms both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}

/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade 0.7s ease both;
  -moz-animation: scaleToFade 0.7s ease both;
  animation: scaleToFade 0.7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown 0.6s ease both;
  -moz-animation: goDown 0.6s ease both;
  animation: goDown 0.6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom 0.5s ease both;
  -moz-animation: scaleUpFrom 0.5s ease both;
  animation: scaleUpFrom 0.5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo 0.5s ease both;
  -moz-animation: scaleUpTo 0.5s ease both;
  animation: scaleUpTo 0.5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {
    opacity: 1;
  }
}
@-moz-keyframes empty {
  0% {
    opacity: 1;
  }
}
@keyframes empty {
  0% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes backSlideOut {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
  }
  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
}
@-moz-keyframes backSlideOut {
  25% {
    opacity: 0.5;
    -moz-transform: translateZ(-500px);
  }
  75% {
    opacity: 0.5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: 0.5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }
}
@keyframes backSlideOut {
  25% {
    opacity: 0.5;
    transform: translateZ(-500px);
  }
  75% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(-200%);
  }
}
@-webkit-keyframes backSlideIn {
  0%,
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
  }
}
@-moz-keyframes backSlideIn {
  0%,
  25% {
    opacity: 0.5;
    -moz-transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: 0.5;
    -moz-transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateZ(0) translateX(0);
  }
}
@keyframes backSlideIn {
  0%,
  25% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: 0.5;
    transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}

@-webkit-keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes scaleToFade {
  to {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}
@keyframes scaleToFade {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
@-webkit-keyframes goDown {
  from {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes goDown {
  from {
    -moz-transform: translateY(-100%);
  }
}
@keyframes goDown {
  from {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}
@-moz-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}
@keyframes scaleUpFrom {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
}

@-webkit-keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}
@-moz-keyframes scaleUpTo {
  to {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}
@keyframes scaleUpTo {
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #f5672a;
}
.main-menu .navbar-default .navbar-nav .active a {
  color: #f5672a;
}
.main-menu nav li a::after {
  background: #f5672a;
}
.typer {
  color: #f5672a !important;
}
.banner-text h2 {
  color: #f5672a;
}

.block-title {
  color: #f5672a;
}
.item-type-zoom .item-hover:hover::before {
  background: rgba(231, 91, 30, 0.5);
}
.special-box .owl-theme .owl-controls .owl-page.active span {
  background: #f5672a;
}
.offer-item div h3 {
  color: #f5672a;
}
.tab-menu .is-active {
  background: #f5672a;
}
.tab-menu .slick-arrow.slick-prev {
  background: url(../../images/back.png) no-repeat center;
  background-position: 2px 4px;
}
.tab-menu .slick-arrow.slick-next {
  background: url(../../images/next.png) no-repeat center;
  background-position: 7px 4px;
}

.sf-team:hover .text-col {
  background-color: #f5672a;
}
.gal-item a::after {
  background-color: rgba(231, 91, 30, 0.75);
}
.overlay i:hover {
  border: 1px solid #f5672a;
  color: #f5672a;
}

.panel-pricing .panel-heading {
  background: #f5672a;
}
.panel-pricing {
  border: 1px solid #f5672a;
}
.panel-body p strong span {
  color: #f5672a;
}
.pricing-main .panel-footer a {
  background: #f5672a;
  border: 3px solid #f5672a;
}
.pricing-main .panel-footer a:hover {
  border: 3px solid #f04900;
}

.footer-news form a {
  background: #f5672a;
}
.footer-news form a:hover {
  border: 2px dotted #f5672a;
}
.footer-box-a h3 {
  color: #f5672a;
}
.footer-box-b h3 {
  color: #f5672a;
}
.footer-box-c h3 {
  color: #f5672a;
}
.footer-box-d h3 {
  color: #f5672a;
}
.footer-box-c p a:hover {
  color: #f5672a;
}
.footer-box-b ul li a:hover {
  color: #f5672a;
}

.footer-box .socials-box a:hover .social-circle-border {
  color: #f5672a;
}

.footer-box-c p i {
  color: #f5672a;
}

.copyright-main {
  background: #f5672a;
}

#color-panel a.panel-button:hover {
  color: #f5672a;
}
