.navbar-default .navbar-toggle .icon-bar {
  background-color: #f5672a;
}
.main-menu .navbar-default .navbar-nav .active a {
  color: #f5672a;
}
.main-menu nav li a::after {
  background: #f5672a;
}
.typer {
  color: #f5672a !important;
}
.banner-text h2 {
  color: #f5672a;
}

.block-title {
  color: #f5672a;
}
.item-type-zoom .item-hover:hover::before {
  background: rgba(231, 91, 30, 0.5);
}
.special-box .owl-theme .owl-controls .owl-page.active span {
  background: #f5672a;
}
.offer-item div h3 {
  color: #f5672a;
}
.tab-menu .is-active {
  background: #f5672a;
}
.tab-menu .slick-arrow.slick-prev {
  background: url(../../images/back.png) no-repeat center;
  background-position: 2px 4px;
}
.tab-menu .slick-arrow.slick-next {
  background: url(../../images/next.png) no-repeat center;
  background-position: 7px 4px;
}

.offer-item .offer-price {
}
.sf-team:hover .text-col {
  background-color: #f5672a;
}
.gal-item a::after {
  background-color: rgba(231, 91, 30, 0.75);
}
.overlay i:hover {
  border: 1px solid #f5672a;
  color: #f5672a;
}

.panel-pricing .panel-heading {
  background: #f5672a;
}
.panel-pricing {
  border: 1px solid #f5672a;
}
.panel-body p strong span {
  color: #f5672a;
}
.pricing-main .panel-footer a {
  background: #f5672a;
  border: 3px solid #f5672a;
}
.pricing-main .panel-footer a:hover {
  border: 3px solid #f04900;
}

.footer-news form a {
  background: #f5672a;
}
.footer-news form a:hover {
  border: 2px dotted #f5672a;
}
.footer-box-a h3 {
  color: #f5672a;
}
.footer-box-b h3 {
  color: #f5672a;
}
.footer-box-c h3 {
  color: #f5672a;
}
.footer-box-d h3 {
  color: #f5672a;
}
.footer-box-c p a:hover {
  color: #f5672a;
}
.footer-box-b ul li a:hover {
  color: #f5672a;
}

.footer-box .socials-box a:hover .social-circle-border {
  color: #f5672a;
}

.footer-box-c p i {
  color: #f5672a;
}

.copyright-main {
  background: #f5672a;
}

#color-panel a.panel-button:hover {
  color: #f5672a;
}
